.navbar{
	background-color: #000000;
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 7px rgba(102,252,241,.5),
                0 0 7px rgba(102,252,241,.5),
                0 0 7px rgba(102,252,241,.5),
                inset 0 0 10px rgba(102,252,241,.5);
}

.active{
	color: #fff;
	text-shadow: 0 0 5px rgba(102,252,241,.5), 0 0 10px rgba(102,252,241,.5), 0 0 15px rgba(102,252,241,.5), 0 0 35px; 
}

.footer{
	margin:0px auto;
	background-color: #000000;
    padding: 20px 0px 20px 0px;
	border-top: 1px solid #fff;
    box-shadow: 0 0 7px rgba(102,252,241,.5),
                0 0 7px rgba(102,252,241,.5),
                0 0 7px rgba(102,252,241,.5),
                inset 0 0 10px rgba(102,252,241,.5);
}
